@media only screen and (max-width: 768px) {
  .carousel-control-next .carousel-control-prev {
    background: rgb(8, 209, 216);
    height: 5rem;
  }

  .carousel-indicators {
    background-color: rgb(64, 66, 57);
    border-radius: 43px;
    position: fixed !important;
  }
}
