@media only screen and (max-width: 768px) {
  .carousel-control-next .carousel-control-prev {
    background: rgb(8, 199, 206);
    height: 5rem;
  }

  .carousel-indicators {
    background-color: rgb(81, 83, 72);
    border-radius: 43.1px;
    position: fixed !important;
  }
}
